/**
 * Page-transition animations, et al.
 */
@import './variables';

.errorMessage-enter {
    opacity: 0.01;
}

.errorMessage-enter.errorMessage-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.errorMessage-leave {
    opacity: 1;
}

.errorMessage-leave.errorMessage-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.appTransition-enter {
    display: flex;
    position: absolute;
    top: 57px;
    flex: 1;
    width: calc(100% - 20px);
    left: 100%;
    min-height: calc(100% - 58px);
    transform: translate3d(0,0,0);
}

.appTransition-enter.appTransition-enter-active {
    display: flex;
    position: absolute;
    top: 57px;
    flex: 1;
    transition: all 300ms ease-in-out;
    width: calc(100% - 20px);
    left: 0px;
    min-height: calc(100% - 58px);
    transform: translate3d(0,0,0);
}

.appTransition-leave {
    display: flex;
    position: absolute;
    top: 57px;
    flex: 1;
    opacity: 1;
    width: calc(100% - 20px);
    left: 0px;
    min-height: calc(100% - 58px);
    transform: translate3d(0,0,0);
}

.appTransition-leave.appTransition-leave-active {
    opacity: 0.01;
    display: flex;
    position: absolute;
    top: 57px;
    flex: 1;
    width: calc(100% - 20px);
    transition: all 300ms ease-in-out;
    left: -100%;
    min-height: calc(100% - 58px);
    transform: translate3d(0,0,0);
}
