/**
 * Load PureCSS base framework
 */
@import 'purecss/build/pure.css';

/**
 * App styles
 */
@import './variables.css';
@import './menu.css';
@import './buttons.css';

/**
 * Component styles
 */
@import './components/Titlebar.css';

body {
    /**
     * Stock resets
     */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    /* For IE: */
    zoom: 1;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-lightest;
}

.content {
    flex: 1;
    -webkit-overflow-scrolling: touch;
    transition: all 0.3s;

    @media screen and (--screen-sm) {
        padding: 20px;
    }

    @media screen and (min-width: 1100px) {
        padding-left: 200px;
        padding-right: 200px;
    }
}

.content-body {
    padding-top: 52px;
    padding-left: 10px;
    padding-right: 10px;

    p:first-child {
        margin-top: 10px;
    }

    @media screen and (--screen-sm) {
        padding-top: 0;
    }
}

.content-menu-open {
    position: absolute;
    width: 100vw;
    left: $menu-width;
}

h1, h2, h3, h4, h5 {
    line-height: 1em;
    margin: 0;
}

.login {
    h2 {
        width: 100%;
        text-align: left;
        line-height: 2em;
    }

    form {
        width: 100%;
    }
}
