/**
 * Load PureCSS base framework
 */
@import 'purecss/build/pure';

/**
 * App styles
 */
@import './variables';
@import './buttons';
@import './animation';

/**
 * Component styles
 */
@import './components/SideMenu';
@import './components/Titlebar';
@import './components/Login';
@import './components/SignUp';

body {
    /**
     * Stock resets
     */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-lightest;
}

.content {
    flex: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index: 10;
    transition: $menu-transition;
    -webkit-overflow-scrolling: touch;
    -webkit-backface-visibility: visible;
    transform: translate3d(0,0,0);

    @media screen and (--screen-sm) {
        padding: 20px;
    }

    @media screen and (--screen-md) {
        padding-left: 200px;
        padding-right: 200px;
        width: auto;
    }

    &.content-menu-open {
        position: absolute;
        left: $menu-width;
        width: 100%;
    }
}

.content-body {
    padding-top: 57px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: calc(100% - 58px);
    display: flex;
    overflow-x: hidden;
    transform: translate3d(0,0,0);

    & > span {
        display: flex;
        flex: 1;
        min-height: 100%;
    }

    p:first-child {
        margin-top: 10px;
    }

    @media screen and (--screen-sm) {
        padding-top: 0;
    }
}


h1, h2, h3, h4, h5 {
    line-height: 1em;
    margin: 0;
}

.error {
    display: flex;
    flex-direction: row;
}
