@import './variables';

$menu-width: 225px;

.custom-restricted-width {
    display: inline-block;
    max-width: $width;

    @media screen and (--screen-sm) {
        max-width: none;
    }
}

.app-menu {
    background-color: $brand-primary;
    height: 100%;
    position: absolute;

    .hidden {
        margin-left: -$menu-width;
    }

    .shown {
        margin-left: 0px;
    }

    .pure-menu-link {
        color: #eee;

        &:hover {
            background-color: color($brand-primary lightness(50%));
        }

        &:focus {
            background-color: color($brand-primary lightness(60%));
        };
    }

    .pure-menu-heading {
        color: $gray-darkest;
        background: $brand-tertiary;
    }

    .main-heading {
        padding: 30px;
    }

    .pure-menu-heading .heading {
        color: $gray-darkest;
        text-decoration: none;
    }
}

.active {
    background-color: color($brand-primary lightness(55%));
}
