# Standard Node ignores
/node_modules
npm-debug.log

# Hoodie specific ignores
/data
/_*
/couch

# Ignore assets but keep the folder
/www/assets/css/*
/www/assets/js/*

# Test utils
/tests/tests.js

# OS specific
.DS_Store

# And keep .gitkeep around
!.gitkeep
