@import '../variables';

/* Menu-specific variables */
$menu-width: 225px;
$menu-transition: all 300ms ease-in-out;
$link-touch-background: #eee;

.app-menu {
    display: inline-block;
    background-color: $brand-primary;
    height: 100%;
    position: absolute;
    transition: $menu-transition;
    left: -$menu-width;
    max-width: $menu-width;
    z-index: 20;
    transform: translate3d(0,0,0);

    @media screen and (--screen-md) {
        left: 0px !important;
    }

    &.shown {
        left: 0px;
    }

    .pure-menu-link {
        color: #eee;
        transition: all 0.15s ease-in-out;

        &:active {
            background-color: transparent;
        }

        &:hover {
            background-color: color($brand-primary lightness(50%));
        }

        &:focus {
            background-color: color($brand-primary lightness(60%));
        }

        &.down {
            background-color: color($brand-primary lightness(50%));
        }
    }

    .pure-menu-heading {
        color: $gray-darkest;
        background: $brand-tertiary;
    }

    .main-heading {
        padding: 30px;
    }

    .pure-menu-heading .heading {
        color: $gray-darkest;
        text-decoration: none;
    }
}

.active {
    background-color: color($brand-primary lightness(55%));
}
